<h1 class="titulo-cdmx">Alta Expediente</h1>
<div style="padding: 30px; text-align: center;" *ngIf="loadingTiposTramite || loadingTiposPersona || loadingTiposDocIdentif || loadingTiposVia || loadingTiposLocalidad || loadingDelegaciones">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <p>Cargando...</p>
</div>
<ng-container *ngIf="!loadingTiposTramite && !loadingTiposPersona && !loadingTiposDocIdentif && !loadingTiposVia && !loadingTiposLocalidad && !loadingDelegaciones">
    <div class="viewer-wrapper">
        <div class="viewer-title">
            SELECCIONE UN TIPO DE TRAMITE
        </div>
        <div class="viewer-body">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Seleccione un tramite:</mat-label>
                        <mat-select #TIPOTRAMITE="ngModel" [(ngModel)]="dataExpediente.tipoTramite" (selectionChange)="getDocumentosAportar()" required>
                            <mat-option value="">Seleccione un trámite ...</mat-option>
                            <mat-option *ngFor="let tramite of tiposTramite" [value]="tramite.tipoTramite">
                                {{ tramite.descripcion }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="TIPOTRAMITE.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="dataExpediente.tipoTramite != null">
        <div class="viewer-wrapper">
            <div class="viewer-title">
                DOCUMETOS A APORTAR
            </div>
            <div class="viewer-body">
                <div class="row">
                    <div class="col">
                        <div style="padding: 30px; text-align: center;" *ngIf="loadingDocumentosAportar">
                            <mat-spinner style="margin:0 auto;"></mat-spinner>
                            <p>Cargando...</p>
                        </div>
                        <ng-container *ngIf="!loadingDocumentosAportar">
                            <div class="alert alert-info" *ngIf="dataDocumentosAportar.length == 0">
                                No hay documentos relacionados
                            </div>
                            <table mat-table [dataSource]="dataDocumentosAportar">
                                <ng-container matColumnDef="conjunto_documental">
                                    <th mat-header-cell *matHeaderCellDef> Conjunto Documental </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.conjuntoDocumental }} </td>
                                </ng-container>
                                <ng-container matColumnDef="documento">
                                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.documento }} </td>
                                </ng-container>
                                <ng-container matColumnDef="obligatorio">
                                    <th mat-header-cell *matHeaderCellDef> Obligatorio </th>
                                    <td mat-cell *matCellDef="let element" class="alineacion"> {{ element.obligatorio ? 'SI' : 'NO' }} </td>
                                </ng-container>
                                <ng-container matColumnDef="entregado">
                                    <th mat-header-cell *matHeaderCellDef> Entregado </th>
                                    <td mat-cell *matCellDef="let element" class="alineacion"><input type="checkbox"  [checked]="element.entregado" (change)="element.entregado = !element.entregado;"></td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewer-wrapper">
            <div class="viewer-title">
                CAPTURAR PROMOVENTES Y REPRESENTANTES
            </div>
            <mat-tab-group>
                <mat-tab label="Promoventes">
                    <div class="viewer-body">
                        <div class="row">
                            <div class="col-md-2 d-flex p-2 align-items-center">
                                <button mat-stroked-button color="primary" aria-label="Buscar" (click)="openDialogSearchPromovente('promovente')">
                                    Buscar promovente <mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 d-flex p-2 align-items-center">
                                <mat-form-field appearance="outline" >
                                    <mat-label>Tipo Persona:</mat-label>
                                    <mat-select [(ngModel)]="tipoPersonaPromovente" (selectionChange)="clearFormPromovente()">
                                        <mat-option *ngFor="let tipo of tiposPersona" [value]="tipo.descripcion == 'Persona Física' ? 'F' : 'M'">
                                            {{ tipo.descripcion }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <ng-container *ngIf="tipoPersonaPromovente == 'F'">
                            <form [formGroup]="promoventeFisica">
                                <input formControlName="tipo" type="hidden" value="{{ tipoPersonaPromovente }}">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-12">
                                        <mat-label>Nombre: *</mat-label>
                                        <input matInput formControlName="nombre" maxlength="50" placeholder="Ingrese el nombre">
                                        <mat-error *ngIf="promoventeFisica.controls.nombre.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Apellido Paterno: *</mat-label>
                                        <input matInput formControlName="apellidoPaterno" maxlength="50" placeholder="Ingrese el apellido paterno">
                                        <mat-error *ngIf="promoventeFisica.controls.apellidoPaterno.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Apellido Materno:</mat-label>
                                        <input matInput formControlName="apellidoMaterno" maxlength="50" placeholder="Ingrese el apellido materno">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>RFC: *</mat-label>
                                        <input matInput formControlName="rfc" pattern="^([A-ZÑ&]{4})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="13" placeholder="Ingrese el RFC">
                                        <mat-error *ngIf="promoventeFisica.controls.rfc.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="promoventeFisica.controls.rfc.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>CURP: *</mat-label>
                                        <input matInput formControlName="curp" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" maxlength="18" placeholder="Ingrese el CURP">
                                        <mat-error *ngIf="promoventeFisica.controls.curp.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="promoventeFisica.controls.curp.errors?.pattern">CURP no valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Clave INE:</mat-label>
                                        <input matInput formControlName="claveIne" maxlength="50" placeholder="Ingrese el INE">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-6">
                                        <mat-label>Otro Documento:</mat-label>
                                        <mat-select formControlName="idDocIdentif">
                                            <mat-option value="">Seleccione ...</mat-option>
                                            <mat-option *ngFor="let documento of tiposDocIdentif" [value]="documento.idDocIdentif">
                                                {{ documento.descripcion }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Número Documento</mat-label>
                                        <input matInput formControlName="otros" maxlength="50" placeholder="Ingrese el número de documento">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Celular: *</mat-label>
                                        <input matInput formControlName="celular" maxlength="10" placeholder="Ingrese el número de celular">
                                        <mat-error *ngIf="promoventeFisica.controls.celular.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="promoventeFisica.controls.celular.errors?.minlength">El número celular debe de contener 10 digitos</mat-error>
                                        <mat-error *ngIf="promoventeFisica.controls.celular.errors?.maxlength">El número celular debe de contener 10 digitos</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>E-mail: *</mat-label>
                                        <input matInput formControlName="email" maxlength="50" placeholder="Ingrese el email">
                                        <mat-error *ngIf="promoventeFisica.controls.email.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="promoventeFisica.controls.email.errors?.email">La estructura del correo es errónea</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-stroked-button *ngIf="isEdicionPromovente == false" color="primary" aria-label="Agregar" [disabled]="promoventeFisica.invalid" (click)="addPromoventeFisica()">
                                            Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                                        </button>
                                        <button mat-stroked-button *ngIf="isEdicionPromovente == true" color="primary" aria-label="Guardar" [disabled]="promoventeFisica.invalid" (click)="savePromoventeFisica()">
                                            Guardar<mat-icon style="display: inherit; width: 15px;">save</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormPromovente()">
                                            Limpiar
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                        <ng-container *ngIf="tipoPersonaPromovente == 'M'">
                            <form [formGroup]="promoventeMoral">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-10 offset-1">
                                        <mat-label>Nombre: *</mat-label>
                                        <input matInput formControlName="nombre" maxlength="50" placeholder="Ingrese el nombre">
                                        <mat-error *ngIf="promoventeMoral.controls.nombre.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-5 offset-1">
                                        <mat-label>RFC: *</mat-label>
                                        <input matInput formControlName="rfc" pattern="^([A-ZÑ&]{3})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="12" placeholder="Ingrese el RFC">
                                        <mat-error *ngIf="promoventeMoral.controls.rfc.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="promoventeMoral.controls.rfc.errors?.pattern">El campo RFC debe contener 3 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="col-5">
                                        <mat-label>Actividad Principal: *</mat-label>
                                        <input matInput formControlName="activprincip" maxlength="50" placeholder="Ingrese la actividad principal">
                                        <mat-error *ngIf="promoventeMoral.controls.activprincip.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <button mat-stroked-button *ngIf="isEdicionPromovente == false" color="primary" aria-label="Agregar" [disabled]="promoventeMoral.invalid" (click)="addPromoventeMoral()">
                                        Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                                    </button>
                                    <button mat-stroked-button *ngIf="isEdicionPromovente == true" color="primary" aria-label="Guardar" [disabled]="promoventeMoral.invalid" (click)="savePromoventeMoral()">
                                        Guardar<mat-icon style="display: inherit; width: 15px;">save</mat-icon>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormPromovente()">
                                        Limpiar
                                    </button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>
                <mat-tab label="Representante" [disabled]="dataPromoventes.length == 0">
                    <div class="viewer-body">
                        <div class="row">
                            <div class="col-md-2 d-flex p-2 align-items-center">
                                <button mat-stroked-button color="primary" aria-label="Buscar" (click)="openDialogSearchPromovente('representante')">
                                    Buscar representante <mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 d-flex p-2 align-items-center">
                                <mat-form-field appearance="outline" >
                                    <mat-label>Tipo Persona:</mat-label>
                                    <mat-select [(ngModel)]="tipoPersonaRepresentante" (selectionChange)="clearFormPromovente()">
                                        <mat-option *ngFor="let tipo of tiposPersona" [value]="tipo.descripcion == 'Persona Física' ? 'F' : 'M'">
                                            {{ tipo.descripcion }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <ng-container *ngIf="tipoPersonaRepresentante == 'F'">
                            <form [formGroup]="representanteFisica">
                                <input formControlName="tipo" type="hidden" value="{{ tipoPersonaRepresentante }}">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-12">
                                        <mat-label>Nombre: *</mat-label>
                                        <input matInput formControlName="nombre" maxlength="50" placeholder="Ingrese el nombre">
                                        <mat-error *ngIf="representanteFisica.controls.nombre.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Apellido Paterno: *</mat-label>
                                        <input matInput formControlName="apellidoPaterno" maxlength="50" placeholder="Ingrese el apellido paterno">
                                        <mat-error *ngIf="representanteFisica.controls.apellidoPaterno.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Apellido Materno:</mat-label>
                                        <input matInput formControlName="apellidoMaterno" maxlength="50" placeholder="Ingrese el apellido materno">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>RFC: *</mat-label>
                                        <input matInput formControlName="rfc" pattern="^([A-ZÑ&]{4})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="13" placeholder="Ingrese el RFC">
                                        <mat-error *ngIf="representanteFisica.controls.rfc.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="representanteFisica.controls.rfc.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>CURP: *</mat-label>
                                        <input matInput formControlName="curp" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" maxlength="18" placeholder="Ingrese el CURP">
                                        <mat-error *ngIf="representanteFisica.controls.curp.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="representanteFisica.controls.curp.errors?.pattern">CURP no valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Clave INE:</mat-label>
                                        <input matInput formControlName="claveIne" maxlength="50" placeholder="Ingrese el INE">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-6">
                                        <mat-label>Otro Documento:</mat-label>
                                        <mat-select formControlName="idDocIdentif">
                                            <mat-option value="">Seleccione ...</mat-option>
                                            <mat-option *ngFor="let documento of tiposDocIdentif" [value]="documento.idDocIdentif">
                                                {{ documento.descripcion }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Número Documento</mat-label>
                                        <input matInput formControlName="otros" maxlength="50" placeholder="Ingrese el número de documento">
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>Celular: *</mat-label>
                                        <input matInput formControlName="celular" maxlength="10" placeholder="Ingrese el número de celular">
                                        <mat-error *ngIf="representanteFisica.controls.celular.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="representanteFisica.controls.celular.errors?.minlength">El número celular debe de contener 10 digitos</mat-error>
                                        <mat-error *ngIf="representanteFisica.controls.celular.errors?.maxlength">El número celular debe de contener 10 digitos</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline"  class="col-6">
                                        <mat-label>E-mail: *</mat-label>
                                        <input matInput formControlName="email" maxlength="50" placeholder="Ingrese el email">
                                        <mat-error *ngIf="representanteFisica.controls.email.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="representanteFisica.controls.email.errors?.email">La estructura del correo es errónea</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-stroked-button *ngIf="isEdicionRepresentante == false" color="primary" aria-label="Agregar" [disabled]="representanteFisica.invalid" (click)="addRepresentanteFisica()">
                                            Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                                        </button>
                                        <button mat-stroked-button *ngIf="isEdicionRepresentante == true" color="primary" aria-label="Guardar" [disabled]="representanteFisica.invalid" (click)="saveRepresentanteFisica()">
                                            Guardar<mat-icon style="display: inherit; width: 15px;">save</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormRepresentante()">
                                            Limpiar
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                        <ng-container *ngIf="tipoPersonaRepresentante == 'M'">
                            <form [formGroup]="representanteMoral">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-10 offset-1">
                                        <mat-label>Nombre: *</mat-label>
                                        <input matInput formControlName="nombre" maxlength="50" placeholder="Ingrese el nombre">
                                        <mat-error *ngIf="representanteMoral.controls.nombre.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" class="col-5 offset-1">
                                        <mat-label>RFC: *</mat-label>
                                        <input matInput formControlName="rfc" pattern="^([A-ZÑ&]{3})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="12" placeholder="Ingrese el RFC">
                                        <mat-error *ngIf="representanteMoral.controls.rfc.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="representanteMoral.controls.rfc.errors?.pattern">El campo RFC debe contener 3 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="col-5">
                                        <mat-label>Actividad Principal: *</mat-label>
                                        <input matInput formControlName="activprincip" maxlength="50" placeholder="Ingrese la actividad principal">
                                        <mat-error *ngIf="representanteMoral.controls.activprincip.errors?.required">Requerido</mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <button mat-stroked-button *ngIf="isEdicionRepresentante == false" color="primary" aria-label="Agregar" [disabled]="representanteMoral.invalid" (click)="addRepresentanteMoral()">
                                        Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                                    </button>
                                    <button mat-stroked-button *ngIf="isEdicionRepresentante == true" color="primary" aria-label="Guardar" [disabled]="representanteMoral.invalid" (click)="saveRepresentanteMoral()">
                                        Guardar<mat-icon style="display: inherit; width: 15px;">save</mat-icon>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormPromovente()">
                                        Limpiar
                                    </button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <ng-container>
                <div class="viewer-title">
                    PROMOVENTES
                </div>
                <div class="viewer-body">
                    <div class="row">
                        <div class="col">
                            <table mat-table #tablePromoventes [dataSource]="dataPromoventes">
                                <ng-container matColumnDef="tipo_persona">
                                    <th mat-header-cell *matHeaderCellDef> Tipo Persona</th>
                                    <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_personales">
                                    <th mat-header-cell *matHeaderCellDef> Datos Personales </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.apellidoPaterno }} {{ element.apellidoMaterno }} {{ element.nombre }} </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_identificativos">
                                    <th mat-header-cell *matHeaderCellDef> Datos Identificativos </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.rfc }}
                                        <br>
                                        {{ element.curp }}
                                        <br>
                                        {{ element.claveIne }}
                                        <br>
                                        {{ element.otros }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_contacto">
                                    <th mat-header-cell *matHeaderCellDef> Datos de Contacto </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.celular }}
                                        <br>
                                        {{ element.email }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="notificacion">
                                    <th mat-header-cell *matHeaderCellDef> Datos de Notificación </th>
                                    <td mat-cell *matCellDef="let element;index as i;"><mat-checkbox [(ngModel)]="element.notificacion" [disabled]="element.notificacion" (change)="setDatosNotificacionPromovente(i)"></mat-checkbox></td>
                                </ng-container>
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element;index as i;">
                                    <button type="button" mat-icon-button color="primary" aria-label="Editar" matTooltip="Editar" (click)="editPromovente(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="deletePromovente(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsPromovente"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsPromovente;"></tr>
                            </table>       
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="viewer-title">
                    REPRESENTANTES
                </div>
                <div class="viewer-body">
                    <div class="row">
                        <div class="col">
                            <table mat-table #tableRepresentante [dataSource]="dataRepresentantes">
                                <ng-container matColumnDef="tipo_persona">
                                    <th mat-header-cell *matHeaderCellDef> Tipo Persona</th>
                                    <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_personales">
                                    <th mat-header-cell *matHeaderCellDef> Datos Personales </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.apellidoPaterno }} {{ element.apellidoMaterno }} {{ element.nombre }} </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_identificativos">
                                    <th mat-header-cell *matHeaderCellDef> Datos Identificativos </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.rfc }}
                                        <br>
                                        {{ element.curp }}
                                        <br>
                                        {{ element.claveIne }}
                                        <br>
                                        {{ element.otros }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="datos_contacto">
                                    <th mat-header-cell *matHeaderCellDef> Datos de Contacto </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.celular }}
                                        <br>
                                        {{ element.email }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="notificacion">
                                    <th mat-header-cell *matHeaderCellDef> Datos de Notificación </th>
                                    <td mat-cell *matCellDef="let element;index as i;"><mat-checkbox [(ngModel)]="element.notificacion" [disabled]="element.notificacion" (change)="setDatosNotificacionRepresentante(i)"></mat-checkbox></td>
                                </ng-container>
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element;index as i;">
                                    <button type="button" mat-icon-button color="primary" aria-label="Editar" matTooltip="Editar" (click)="editRepresentante(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="deleteRepresentante(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsRepresentantes"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsRepresentantes;"></tr>
                            </table>       
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="viewer-wrapper">
            <div class="viewer-title">
                DATOS INMUEBLES
            </div>
            <div class="viewer-body">
                <form [formGroup]="cuentaCatastral">
                    <div class="row">
                        <mat-form-field class="col-2" appearance="outline">
                            <mat-label>Región: *</mat-label>
                            <input matInput #region formControlName="region" minlength="3" maxlength="3">
                            <mat-error *ngIf="cuentaCatastral.controls.region.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.region.errors?.minlength">Tiene que tener 3 alfanumericos</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.region.errors?.maxlength">Tiene que tener 3 alfanumericos</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-2" appearance="outline">
                            <mat-label>Manzana: *</mat-label>
                            <input matInput #manzana formControlName="manzana" minlength="3" maxlength="3">
                            <mat-error *ngIf="cuentaCatastral.controls.manzana.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.manzana.errors?.minlength">Tiene que tener 3 alfanumericos</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.manzana.errors?.maxlength">Tiene que tener 3 alfanumericos</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-2" appearance="outline">
                            <mat-label>Lote: *</mat-label>
                            <input matInput #lote formControlName="lote" minlength="2" maxlength="2">
                            <mat-error *ngIf="cuentaCatastral.controls.lote.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.lote.errors?.minlength">Tiene que tener 2 alfanumericos</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.lote.errors?.maxlength">Tiene que tener 2 alfanumericos</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-2" appearance="outline">
                            <mat-label>Unidad Privativa: *</mat-label>
                            <input matInput #unidad formControlName="unidadPrivativa" minlength="3" maxlength="3">
                            <mat-error *ngIf="cuentaCatastral.controls.unidadPrivativa.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.unidadPrivativa.errors?.minlength">Tiene que tener 3 alfanumericos</mat-error>
                            <mat-error *ngIf="cuentaCatastral.controls.unidadPrivativa.errors?.maxlength">Tiene que tener 3 alfanumericos</mat-error>
                        </mat-form-field>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <button mat-stroked-button color="primary" aria-label="Agregar" [disabled]="cuentaCatastral.invalid || dataCuentasCatastrales.length > 0 || loadingDataCuentaCatastral" [class.spinner]="loadingDataCuentaCatastral" (click)="addCuentaCatastral()">
                                Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <table mat-table #tableCuentasCatastrales [dataSource]="dataCuentasCatastrales">
                            <ng-container matColumnDef="cuenta">
                                <th mat-header-cell *matHeaderCellDef> Cuenta Catastral</th>
                                <td mat-cell *matCellDef="let element"> {{ element.region }}-{{ element.manzana }}-{{ element.lote }}-{{ element.unidadPrivativa }} </td>
                            </ng-container>
                            <ng-container matColumnDef="direccion">
                                <th mat-header-cell *matHeaderCellDef> Dirección</th>
                                <td mat-cell *matCellDef="let element"> Calle {{ element.direccion.via.via }} {{element.direccion.numeroExterior}}, Colonia {{ element.direccion.asentamiento.d_asenta}}, Alcaldía {{ element.direccion.delegacion.nombre }}, C.P. {{ element.direccion.codigopostal }}, {{ element.direccion.estado.d_estado }}</td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                                <td mat-cell *matCellDef="let element;index as i;"> 
                                    <button type="button" mat-icon-button color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="deleteCuentaCatastral(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsCuentas;"></tr>
                        </table>                  
                    </div>
                </div>
            </div>
        </div>

        <div class="viewer-wrapper">
            <div class="viewer-title">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <button mat-stroked-button color="primary" aria-label="Agregar" [disabled]="dataDomicilioNotificacion.length > 0" (click)="openDialogAddDomicilioNotificacion()">
                            Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div *ngIf="dataDomicilioNotificacion.length == 0; else tableDomicilioNotificacion">
                            No se ha especificado ninguna dirección
                        </div>
                        <ng-template #tableDomicilioNotificacion>
                            <br>
                            <table>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let domicilio of dataDomicilioNotificacion; let i = index;">
                                        <td>Calle {{ domicilio.VIA }} {{ domicilio.NUMEROEXTERIOR }}, COLONIA {{ domicilio.COLONIA }}, ALCALDÍA {{ domicilio.DELEGACION }}</td>
                                        <td>
                                            <button type="button" mat-icon-button color="primary" aria-label="Editar" matTooltip="Editar" (click)="openDialogAddDomicilioNotificacion(i, domicilio)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button type="button" mat-icon-button color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="deleteDomicilionNotificacion(i)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </ng-template>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="viewer-wrapper">
            <div class="viewer-title">
                DATOS GENERALES DEL EXPEDIENTE
            </div>
            <div class="viewer-body">
                <div class="row">
                    <mat-form-field class="col-md-12">
                        <mat-label>Observaciones:</mat-label>
                        <textarea matInput rows="5" [(ngModel)]="dataExpediente.observaciones"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-9">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button color="primary" aria-label="Iniciar Expediente" [disabled]="dataPromoventes.length == 0 || dataCuentasCatastrales.length == 0 || dataDomicilioNotificacion.length == 0 || loadingCuentasCatastrales" [class.spinner]="loadingCuentasCatastrales" (click)="initiateExpediente()">
                        Iniciar Expediente
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>