<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section id="home-page"></section>

    <div class="card">
      <div class="card-header">
        <div>
          <h4 class="card-title">Crear brigada</h4>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="formGroup">
          <mat-list>
            <mat-list-item> Nombre: </mat-list-item>
            <div style="margin-left: 1.2rem; width: 360px!important;">
              <mat-form-field appearance="outline">
                <mat-label>Nombre:</mat-label>
                <input matInput placeholder="Placeholder" name="nombre" formControlName="nombre"/>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <mat-list-item> Supervisor: </mat-list-item>
            <div style="margin-left: 1.2rem">
              <div *ngIf="!loadingSupervisores; else elseLoadingSupervisores">
                <mat-form-field appearance="outline">
                  <mat-label>Supervisor:</mat-label>
                  <mat-select name="supervisor" formControlName="supervisor">
                    <mat-option
                      *ngFor="let supervisor of supervisores"
                      [value]="supervisor"
                    >
                      {{
                        supervisor.nombre +
                          ' ' +
                          supervisor.apellidopaterno +
                          ' ' +
                          supervisor.apellidomaterno
                      }}
                      | {{ supervisor.rfc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formGroup.controls.supervisor.errors?.required"
                    >Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <ng-template #elseLoadingSupervisores>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </ng-template>
            </div>
            <mat-divider></mat-divider>
            <mat-list-item>Topografo: </mat-list-item>
            <div style="margin-left: 1.2rem">
              <div *ngIf="!loadingTopografos; else elseLoadingTopografos">
                <mat-form-field appearance="outline">
                  <mat-label>Topografo:</mat-label>
                  <mat-select name="topografo" formControlName="topografo">
                    <mat-option
                      *ngFor="let topografo of topografos"
                      [value]="topografo"
                    >
                      {{
                        topografo.nombre +
                          ' ' +
                          topografo.apellidoPaterno +
                          ' ' +
                          topografo.apellidoMaterno
                      }}
                      | {{ topografo.rfc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formGroup.controls.topografo.errors?.required"
                    >Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <ng-template #elseLoadingTopografos>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </ng-template>
            </div>
            <mat-divider></mat-divider>
            <mat-list-item>Cadenero(s): </mat-list-item>
            <mat-list role="list">
              <div>
                <mat-list-item role="listitem">Cadenero 1: </mat-list-item>
                <div style="margin-left: 1.2rem">
                  <div *ngIf="!loadingCadeneros; else elseLoadingCadeneros">
                    <mat-form-field appearance="outline">
                      <mat-label>Cadenero 1:</mat-label>
                      <mat-select name="cadenero1" formControlName="cadenero1">
                        <mat-option
                          *ngFor="let cadenero of cadeneros"
                          [value]="cadenero"
                        >
                          {{
                            cadenero.nombre +
                              ' ' +
                              cadenero.apellidoPaterno +
                              ' ' +
                              cadenero.apellidoMaterno
                          }}
                          | {{ cadenero.rfc }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="formGroup.controls.cadenero1.errors?.required"
                        >Requerido</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <ng-template #elseLoadingCadeneros>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </ng-template>
                </div>
              </div>
              <div>
                <mat-list-item role="listitem"> Cadenero 2: </mat-list-item>
                <div style="margin-left: 1.2rem">
                  <div *ngIf="!loadingCadeneros; else elseLoadingCadeneros2">
                    <mat-form-field appearance="outline">
                      <mat-label>Cadenero 2:</mat-label>
                      <mat-select name="cadenero2" formControlName="cadenero2">
                        <mat-option
                          *ngFor="let cadenero of cadeneros"
                          [value]="cadenero"
                        >
                          {{
                            cadenero.nombre +
                              ' ' +
                              cadenero.apellidoPaterno +
                              ' ' +
                              cadenero.apellidoMaterno
                          }}
                          | {{ cadenero.rfc }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="formGroup.controls.cadenero2.errors?.required"
                        >Requerido</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <ng-template #elseLoadingCadeneros2>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </ng-template>
                </div>
              </div>
            </mat-list>
          </mat-list>
        </form>
        <div class="row row-m-t">
          <div class="col-12 text-right">
            <button
              mat-stroked-button
              color="primary"
              aria-label="Guardar"
              (click)="save()"
              [disabled]="formGroup.invalid"
            >
              Guardar<mat-icon style="display: inherit; width: 15px"
                >check</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
